<div id="message_{{i}}" class="clt-width-100 clt-clean-float" *ngFor="let item of messages; let i=index">
    <div class="container-fluid">
      <div class="clt-flex-row" *ngIf="dayLine(item.date,i)">
        <div class="clt-width-100 clt-chat-linea">
          <span class="clt-chat-linea-span">
            {{dayDifference(item.date)}}
          </span>
        </div>
      </div>
    </div>
    <div class="container-fluid"  >
      <div [ngClass]="chooseStyle(item.messageType)">
        <div *ngIf="validateImage(item)">
          <img src="{{item.imgUrl}}" alt="Send Image" class="clt-message-img">
        </div>
        <div *ngIf="validateMessage(item.message)" class="clt-message">{{item.message}}</div>
        <div class="clt-message-hour">{{item.hour}}
          <span *ngIf="messageState(item.messageState, item.messageType, EMessageState.sent )"
            class="clt-message-sent">
            <em class="fa fa-check"></em>
          </span>
          <span *ngIf="messageState(item.messageState, item.messageType, EMessageState.received)"
            class="clt-message-sent">
            <em class="fa fa-check"></em>
            <em class="fa fa-check"></em>
          </span>
          <span *ngIf="messageState(item.messageState, item.messageType, EMessageState.read )"
            class="clt-message-read">
            <em class="fa fa-check"></em>
            <em class="fa fa-check"></em>
          </span>
        </div>
      </div>
    </div>
  </div>