.cards{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    float: left;
}

.cards:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.cardsTitulo{
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #595959;
    padding: 0.35rem 0 0 1.2rem;  
    margin: 0;
}
.cardsSubtitulo{
    color: #b0b0b0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0 0 0 1.2rem;  
}

.cardIcono{
    margin: 50% 0 0 0;
    padding: 0.7rem 0.5rem 0.5rem 0;
}

.fontSize2-5{
    font-size: 2.5rem;
    padding-right: 0rem;
}
