.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ngx-utilitario-detalle-agregar{
    padding: 0.95rem;
    background: #fff;
}

.ngx-utilitario-detalle-agregar input{
    background: #f5f5f6;
    border-radius: 4.5rem;
    box-shadow: none;
    display: inline-block;
    padding: 0.9rem !important;
    font-size: 0.8rem;
    border:none;
}

