<div id="div_detailMessages" class="content ngx-util-chat-detail" (click)="click()"
  *ngIf="validateListDetail(listDetail)">
  <!--Imagen-->
  <div class="list-detail-img">
    <img class="img-fluid rounded-circle" title="listDetail.name" src={{imageValidate(listDetail)}} />
    <div *ngIf="chatState(listDetail)" class="list-detail-img-state"></div>
  </div>
  <!--Nombre y mensaje-->
  <div class="list-detail-name">
    <div class="name" innerHTML="{{ listDetail.name | highlight : search}}"></div>
    <div class="message"  innerHTML="{{ messageLast(listDetail.message) | highlight : search}}"></div>
  </div>
  <!--fecha y notifiaciones-->
  <div class="list-detail-date">
    <div class="date">
      {{dateLast(listDetail.message)}}
    </div>
    <div *ngIf="notificationValidate(listDetail.notification)" class="badge badge-success badge-pill notification">
      {{listDetail.notification}}
    </div>
  </div>
</div>