.ngx-util-chat-detail{
    // padding: 0.9rem; 
    // cursor: pointer;
    // display:flex;
    display: flex;
    width:98%;
    margin-left: 5px;
}

.ngx-utili-date-not-chat{
    padding: 0px;
}

.ngx-util-label-notification{
    background-color:  #e7b723;
    padding: 4px 8px;
    color: #fff;
    display: inline-block;
    border-radius: 0.6rem;   
}

.ngx-util-date-chat{
    font-size: 0.7rem;
}

.list-detail-img-state{
    background: #22af47;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
}

.list-detail-img{
    position: relative;
    width: 75px;
    margin-right: 8px;
    // margin-left: 5px;
}
.list-detail-name{
    flex: 1 1 auto;
}
.list-detail-date{
    flex: 0 0 auto;
}