.ngx-util-chat-detail{
    display: flex;
    width:98%;
    margin-left: 0.3rem;
    border-bottom: 1px solid #e0e3e4;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

.ngx-utili-date-not-chat{
    padding: 0rem;
}


.ngx-util-date-chat{
    font-size: 0.7rem;
}

.list-detail-img-state{
    background: #22af47;
    border: 0.06rem solid #fff;
    width: 0.62rem;
    height: 0.62rem;
    position: absolute;
    border-radius: 50%;
    right: 0.12rem;
    bottom: 0.12rem;
}

.list-detail-img{
    position: relative;
    width: 2.8rem;
    min-width: 2rem;
    margin-right: 0.5rem;
}
.list-detail-name{
    flex: 1 1 auto;
}
.list-detail-name .name{
    font-size: 0.875rem;
    font-weight: bold;
    color: #324148;
}
.list-detail-name .message{
    font-size: 0.815rem;
    color: #b0b0b0;
    text-overflow: ellipsis;
}
.list-detail-date{
    flex: 0 0 auto;
}
.list-detail-date .date{
    font-size: 0.815rem;
    color: #5e7d8a;
}
.list-detail-date .notification{
    //dynamic
    background-color: #e7b723;
    padding: 0.25rem 0.5rem;
    float: right;
}