<div class="clt-screen-100">
  <div class="btp-overlay">
    <div class="btp-loading-indicator__container" [style.width]="indicatorSize" [style.height]="indicatorSize">
      <div class="btp-spinner">
        <div class="btp-spinner__part" [style.border-width]="borderWidth" [style.border-color]="borderColor"></div>
        <div class="btp-spinner__part" [style.border-width]="borderWidth" [style.border-color]="borderColor"></div>
        <div class="btp-spinner__part" [style.border-width]="borderWidth" [style.border-color]="borderColor"></div>
        <div class="btp-spinner__part" [style.border-width]="borderWidth" [style.border-color]="borderColor"></div>
      </div>
    </div>
  </div>
</div>
  