.ngx-utilitario-chat-linea {
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    margin: 15px 50px;
    text-transform: capitalize;
    color: #9e9e9e;
}
.ngx-utilitario-chat-linea::before {
    background: #e0e3e4;
    content: "";
    height: 1px;
    right: 50%;
    margin-right: 28px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.ngx-utilitario-chat-linea::after{
    background: #e0e3e4;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: 28px;
    position: absolute;
    top: 50%;
    width: 100%;
}
// .ngx-utilitario-chat-linea > span {
//     position: relative;
//     display: inline-block;
// }

// .ngx-utilitario-chat-linea > span:before,
// .ngx-utilitario-chat-linea > span:after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     height: 0.08rem;
//     background: #9e9e9e;
// }

// .ngx-utilitario-chat-linea > span:before {
//     right: 100%;
//     margin-right: 15px;
// }

// .ngx-utilitario-chat-linea > span:after {
//     left: 100%;
//     margin-left: 15px;
// }


.ngx-utilitario-msj-enviado{
    
}
.ngx-utilitario-msj-recibido{
}
.ngx-utilitario-msj-leido{
}

.img-height-3-7{
    height: 3.7rem;
}


.ngx-utilitario-chat-agregar{
    position: absolute;
    bottom: 0px;
}

.ngx-utilitario-cuerpo-Chat{
    height: 10rem;
}