//estilos para la cabecera del componente
.clt-preview-title{
    background: #e7b723;
    color: #fff;
    padding: 0.9375rem 1.25rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

//Estilos para la imagen selecionada
.ngx-util-preview-body {
    text-align: center;
    padding: 18px 0px;
}

//Estilos a la previsualizacion de todas las imagenes y añadir mas imagenes
.ngx-util-preview-files{
    height: 6.875rem;
    padding: 10px 5px;
    background: #dddde0;
}
.ngx-util-preview-all-files{
    display: flex;
    // overflow: hidden;
}

.ngx-util-preview-files-item {
    float: left;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    text-align: center;
    margin: 0rem 0.3125rem;
}
.ngx-util-preview-files-item img{
    flex: 0 0 90%;
    max-width: 90%;
    height: -webkit-fill-available;
}

.clt-preview-files-add{
    max-width: 5.5rem;
    min-width: 2.5rem;
    font-size: 14px;
    color: #e7b723;
    text-align: center;
    padding: 0.5rem 0 !important;
    background: #fff;
    margin-left: 0.625rem;
    cursor: pointer;
}
.clt-preview-files-add-icon{
    display: block;
    font-weight: 900;
    font-size: xx-large
}