// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.clt-btn-icon {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    opacity: 1;
    background-color: $backgroundIconHover;
    @include borderRadius(100%)
  }
}
