//estilo chats
/**
 * Agregar estilos al insertar un nuevo mensajes 
 */
.clt-chat-detail-add{
  padding: 15px;
}

/**
 * dar tamaño al input 
 */
.clt-chat-detail-add-input{
  font-size: $font-size-chat;
}
/**
 * los estilos para los mensajes enviados 
 */
.clt-chat-right {
  background: #e7b723;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.3125rem;
  word-wrap: break-word;
  max-width: 60%;
  color: white;
  text-align: right;
  .clt-message {
    color: #fff;
    margin: 0;
    opacity: 1;
    font-size: $font-size-chat / 1.25;
    text-align: start;
  }
  .clt-message-hour {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    font-size: $font-size-chat / 1.26;
  }
}

/**
 * los estilos para los mensajes recibidos 
 */
.clt-chat-left {
  background: #fff;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.3125rem;
  word-wrap: break-word;
  max-width: 60%;
  color: white;
  text-align: left;
  .clt-message {
    color: #324148;
    margin: 0;
    opacity: 1;
    font-size: $font-size-chat / 1.25;
    text-align: start;
  }
  .clt-message-hour {
    color: rgba(50, 65, 72, 0.4);
    opacity: 1;
    font-size: $font-size-chat / 1.26;
  }
}

/**
 * Agregar imagen
 */
.clt-message-img {
  height: 10rem;
  width: auto;
  max-width: 100%;
}

/**
 * Estilo al leer los mensajes
 */
.clt-message-read {
  color: #fff;
}


/**
 * Estilos para la linea en el chat
 */
.clt-chat-linea {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 0.87rem;
  margin: 0.93rem 3.125rem;
  text-transform: capitalize;
  color: #9e9e9e;
  &:before {
    background: #e0e3e4;
    content: "";
    height: 0.0625rem;
    right: 50%;
    margin-right: 2.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  &:after{
    background: #e0e3e4;
    content: "";
    height: 0.0625rem;
    left: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

/**
 * Color de la linea
 */
.clt-chat-linea-span{
  color: #fff;
}


/**
 * daremos un tamaño estatico al header del chat
 */
.clt-chat-detail-head{
  padding: 0.62rem 0.93rem;
  height: 4.37rem;
  border-bottom: 0.0625rem solid #e0e3e4;
}

/**
 * Le daremos un tamaño a la imagen en el chat y le daremos efecto circular
 */
.clt-chat-detail-head-img{
  height: 3.125rem;
  margin-right: 1rem;
  border-radius: 50%;
}

/**
 * Se generara el estado del offline de un color plomo
 */
.clt-chat-detail-head-state{
  color: #b0b0b0;
  font-size: $font-size-chat / 1.35;
  display: block;
  margin-top: -2px;
}

/**
* resaltaremos el color del nombre del usuario en el chat y un tamaño
*/
.clt-chat-detail-head-name{
  font-size: $font-size-chat;
  font-weight: bolder;
}
