//estilo chats
/**
 * los estilos para los mensajes enviados 
 */
.clt-chat-right {
  background: #e7b723;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.3125rem;
  word-wrap: break-word;
  max-width: 60%;
  color: white;
  text-align: right;
  .message {
    color: #fff;
    margin: 0;
    opacity: 1;
    font-size: 0.875rem;
    text-align: start;
  }
  .hour {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    font-size: 0.8125rem;
  }
}

/**
 * los estilos para los mensajes recibidos 
 */
.clt-chat-left {
  background: #fff;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.3125rem;
  word-wrap: break-word;
  max-width: 60%;
  color: white;
  text-align: left;
  .message {
    color: #324148;
    margin: 0;
    opacity: 1;
    font-size: 0.875rem;
    text-align: start;
  }
  .hour {
    color: rgba(50, 65, 72, 0.4);
    opacity: 1;
    font-size: 0.8125rem;
  }
}

/**
 * Agregar imagen
 */
.img-message {
  height: 10rem;
  width: auto;
}

/**
 * Estilo al leer los mensajes
 */
.clt-msg-read {
  color: #fff;
}


/**
 * Estilos para la linea en el chat
 */
.clt-chat-linea {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 0.87rem;
  margin: 0.93rem 3.125rem;
  text-transform: capitalize;
  color: #9e9e9e;
  &:before {
    background: #e0e3e4;
    content: "";
    height: 0.0625rem;
    right: 50%;
    margin-right: 2.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  &:after{
    background: #e0e3e4;
    content: "";
    height: 0.0625rem;
    left: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

/**
 * Color de la linea
 */
.clt-chat-linea-span{
  // color: #fff;
}