<div [formGroup]="parent" class="clt-width-100">
  <mat-form-field [class.clt-input]="!validationValue(hint)" class="clt-width-100" [appearance]="appearance" [matTooltip]="tooltip" [matTooltipPosition]="position">
    <mat-label *ngIf="validationValue(label)">{{label}}</mat-label>
    <input matInput (keyup)="keydownFun($event)" formControlName="{{name}}" >
    <mat-icon *ngIf="validationValue(iconMatPrefix)" matPrefix>{{iconMatSuffix}}</mat-icon>
    <span *ngIf="validationValue(spanMatPrefix)" matPrefix style="display: table-caption;">{{spanMatPrefix}}</span>
    <mat-icon *ngIf="validationValue(iconMatSuffix)" matSuffix>{{iconMatSuffix}}</mat-icon>
    <span *ngIf="validationValue(spanMatSuffix)" matSuffix style="display: table-caption;">{{spanMatSuffix}}</span>
    <mat-hint *ngIf="validationValue(hint)">{{hint}}</mat-hint>
  </mat-form-field>
</div>