<div class="clt-width-100 clt-flex clt-chat-detail-add">
  <!--Input-->
  <form [formGroup]="messageForm" class="clt-width-100">
    <input id="txt_message" class="clt-width-100 clt-txt-search clt-chat-detail-add-input" formControlName="message" [attr.disabled]="disabled ? '' : null"
      [placeholder]="placeholder" (keyup.enter)="sendMessage()">
  </form>
  <div class="clt-float-right  clt-flex-row" style="width: 110px;">
    <!--Añadir archivo-->
    <input type="file" class="clt-hidden" accept="image/*" #file (change)="sendImage($event)" multiple>
    <button id="btn_sendImage" class="clt-flex-50 clt-no-padding clt-btn-icon" type="button" (click)="file.click()"
      [attr.disabled]="disabled ? '' : null">
      <i class="fa fa-camera" aria-hidden="true"></i>
    </button>
    <!--Enviar mensaje-->
    <button id="btn_sendMessage" type="button" class="clt-flex-50 clt-no-padding clt-btn-icon" [attr.disabled]="disabled ? '' : null"
      (click)="sendMessage()">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
</div>