<div class="ngx-utilitario-modal">
  <div class="ngx-utilitario-modal-body">
    <div class="ngx-utilitario-modal-content">
      <div style="position: relative;">
        <button type="button" class="ngx-utilitario-modal-cerrar" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-content>
      </ng-content>
    </div>
  </div>
</div>
<div class="ngx-utilitario-modal-background" [@openClose]="showModal"></div>
<div class="ngx-utilitario-modal-open"></div>