.row-no-padding {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.ngx-utilitario-modal-background{
    animation-duration: 4s;
    animation-direction: reverse;
  }
  