$font-size: 20px;
$line-height: 1.4;
$lines: 1;
$font-size-chat : 16px;

.clt-linea-1{
    display: block;
    display: -webkit-box;
    height: $font-size * $line-height * $lines;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .clt-chat-detail-head{
//     padding: 0.62rem 0.93rem;
//     height: 4.37rem;
//     border-bottom: 0.0625rem solid #e0e3e4;
// }


// .clt-chat-detail-head-img{
//     height: 3.125rem;
//     margin-right: 1rem;
//     border-radius: 50%;
// }

// .clt-chat-detail-head-state{
//     color: #b0b0b0;
//     font-size: $font-size-chat - 4;
//     display: block;
//     margin-top: -2px;
// }

// .clt-chat-detail-head-name{
//     font-weight: bolder;
// }
