.ngx-util-detail{
    display: flex;
    flex-flow: column;
    // position: relative; 
    width: 100%;
    height: 100%;
}
.ngx-util-detail-head{
    height: 64px;
}
.ngx-util-detail-messages{
    flex-grow : 1;
}
.ngx-util-chat-linea {
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    margin: 15px 50px;
    text-transform: capitalize;
    color: #9e9e9e;
}
.ngx-util-chat-linea::before {
    background: #e0e3e4;
    content: "";
    height: 1px;
    right: 50%;
    margin-right: 28px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.ngx-util-chat-linea::after{
    background: #e0e3e4;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: 28px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.ngx-util-chat-right{
    background: #e7b723;
    padding: 10px 15px;
    border-radius: .25rem;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    word-wrap: break-word;
    max-width: 60%;
    color: white;
    text-align: right;
}
.ngx-util-chat-left{
    background: #fff;
}

.arrow_box {
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #e7b723;
	border-width: 7px;
	margin-top: 0px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #e7b723;
	border-width: 7px;
	margin-top: 0px;
}


// .ngx-utilitario-chat-linea > span {
//     position: relative;
//     display: inline-block;
// }

// .ngx-utilitario-chat-linea > span:before,
// .ngx-utilitario-chat-linea > span:after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     height: 0.08rem;
//     background: #9e9e9e;
// }

// .ngx-utilitario-chat-linea > span:before {
//     right: 100%;
//     margin-right: 15px;
// }

// .ngx-utilitario-chat-linea > span:after {
//     left: 100%;
//     margin-left: 15px;
// }

.ngx-util-msj-enviado{
    color: green;   
}
.ngx-util-msj-recibido{
    color: green;   
}
.ngx-util-msj-leido{
    color: green;   
}

.img-profile-chat-detail{
    height: 3.125rem;
}


.ngx-util-chat-agregar{
    position: relative;
}

.ngx-util-cuerpo-Chat{
    height: auto;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.detail-head-img{
    flex: 0 0 7%;
    max-width: 7%;
    min-width: 7%;
}


.detail-head-name{
    flex: 0 0 84%;
    max-width: 84%;
    @media screen and (max-width: 1130px){
        max-width: 82%;
        flex: 0 0 82%;
    }
    @media screen and (max-width: 880px){
        max-width: 80%;
        flex: 0 0 80%;
    }
}

.detail-head-actions{
    flex: 0 0 8%;
    max-width: 8%;
}