<div class="container-fluid row-no-padding ngx-utilitario-chat">
  <div class="row">
    <div class="col-md-4 col-sm-12 ngx-utilitario-chat-list">
      <ngx-utilitario-chat-list class="ngx-util-list-detail" [list]="finalList" (clickList)="listDetailClick($event)"
        [search]="searchText">
      </ngx-utilitario-chat-list>
    </div>
    <div class="col-md-8 col-sm-12" style="height: 100%;">
      <ngx-utilitario-chat-detail [chatDetail]="chatDetail" [moveToMessage]="moveToMessageIndex"
        (newMessage)="messageSend($event)" (deleteMessages)="messageDelete()" (lockChat)="chatLocking($event)">
      </ngx-utilitario-chat-detail>
    </div>
  </div>
</div>