.header-chat{
    background: #fff;
    color: 324148;
    padding: 22px 15px;
    border-bottom: 1px solid #e0e3e4;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.header-chat span{
    float: right;
    font-size: inherit;
}

.header-chat1 span{
    float: right;
    font-size: inherit;
}